<servlet>
<servlet-mapping>
<servlet-name>Comment</servlet-name>
<url-pattern>Comment</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Follow</servlet-name>
<url-pattern>Follow</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Like</servlet-name>
<url-pattern>Like</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Like1</servlet-name>
<url-pattern>Like1</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>Login</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Message</servlet-name>
<url-pattern>Message</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Retweet</servlet-name>
<url-pattern>Retweet</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Retweet1</servlet-name>
<url-pattern>Retweet1</url-pattern>
</servlet-mapping>


<servlet-mapping>
<servlet-name>Signup</servlet-name>
<url-pattern>Signup</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Tweet</servlet-name>
<url-pattern>Tweet</url-pattern>
</servlet-mapping>


<servlet-mapping>
<servlet-name>Unfollow</servlet-name>
<url-pattern>Unfollow</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Updateprofile</servlet-name>
<url-pattern>Updateprofile</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Changepassword</servlet-name>
<url-pattern>Changepassword</url-pattern>
</servlet-mapping>

</servlet>


